* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: rgb(216, 188, 168);
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
main {
  min-height: 150vh;
}

nav {
  margin-left: 1rem;
  background-color: rgb(216, 188, 168);
  display: flex;
  justify-content: start;
  align-items: center;
}
nav > a {
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  bottom: 1rem;
}

.logo {
  display: flex;
  width: 5rem;
  bottom: 1rem;
}
.navlogo {
  display: flex;
  justify-content: end;
}

.a1 {
  display: flex;
  background-color: grey;
  border-radius: 5px;
  padding: 4px;
}

.divindextitle {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.titleindex {
  display: flex;
  justify-content: center;
  width: 15%;
  color: rgb(255, 255, 255);
  background-color: grey;
  border-radius: 10px;
  padding: 5px;
}

.h2index {
  text-align: center;
  top: 2rem;
  font-style: italic;
  font-weight: 900;
  text-decoration-line: underline;
}

.imgindex1 {
  border-radius: 10px;
  display: flex;
  height: 50vh;
  width: 50vw;
}
.imagen1 {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.pindex {
  font-size: 25px;
  font-weight: 500;
  width: 22rem;
  display: flex;
}
.pbox {
  display: flex;
  align-items: center;
}
.pindexbox {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

.img2index {
  width: 40rem;
  border-radius: 15px;
}
.imagen2 {
  display: flex;
  justify-content: flex-end;
}
.titleaboutus {
  display: flex;
}

.h2about {
  text-align: center;
  font-style: italic;
  font-weight: 900;
  text-decoration-line: underline;
}

.pimgabout1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 3rem;
}
.pBoxAbout {
  display: flex;
  margin-left: 2rem;
  align-items: center;
}
.imgabout1 {
  width: 22rem;
  border-radius: 15px;
}
.pImgAbout2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 3rem;
}
.pboxabout2 {
  display: flex;
  margin-left: 2rem;
  align-items: center;
}
.imgabout2 {
  width: 22rem;
  border-radius: 15px;
}
.pImgAbout3 {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 3rem;
}
.pBoxAbout3 {
  display: flex;
  margin-left: 2rem;
  align-items: center;
}
.imgabout3 {
  width: 22rem;
  border-radius: 15px;
}
.pabout1 {
  text-align: center;
  font-weight: 500;
  width: 15rem;
}
.pabout2 {
  text-align: center;
  font-weight: 500;
  width: 15rem;
}
.pabout3 {
  text-align: center;
  font-weight: 500;
  width: 15rem;
}

.h2contact {
  text-align: center;
  font-style: italic;
  font-weight: 900;
  text-decoration-line: underline;
}
.boximgcontact {
  display: flex;
  justify-content: center;
}
.imgcontact1 {
  border-radius: 10px;
  width: 50vw;
  height: 50vh;
}
.pcontact1 {
  width: 50rem;
  font-size: 2rem;
}
.pboxcontact1 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.pcontact2 {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: underline;
}
.pcontact3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: underline;
}
p > a {
  color: black;
}
.pboxcontact3 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}
table,
tr,
thead,
td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  text-align: center;
  width: 40rem;
  height: 10rem;
  background-color: rgb(216, 188, 168);
}
.table {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

thead {
  font-weight: 800;
}
.list-title {
  font-weight: 600;
  font-size: 1.2rem;
}
.imglist1 {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-top: 2rem;
}

.imagebenefits {
  width: 20rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  border-radius: 10px;
  flex-direction: column;
}
.imgbenefits1 {
  margin-top: 1rem;
  border-radius: 10px;
}
ol {
  display: flex;
  margin-left: 5rem;
  margin-top: 3rem;
  width: 20rem;
  flex-direction: column;
  justify-content: center;
}
.imglist2 {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-top: 2rem;
}

.imglist2 {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-top: 2rem;
}

section {
  margin-top: 5rem;
}

.fieldset {
  display: flex;
  flex-direction: column;
  border-style: none;
}

main {
  width: 100%;
  min-height: 10%;
}
.boxform {
  width: 100%;
}

label {
  margin-top: 1rem;
}

.paymentOptions {
  display: flex;
  border-style: none;
  margin-top: 1rem;
  flex-direction: column;
}
.pymntlabel {
  display: flex;
  align-items: center;
  margin: 0;
}
.inputradio {
  display: flex;
  height: 3.5rem;
}
.inputServices {
  height: 10rem;
}

.buttonsumbit {
  display: flex;
  margin-top: 1rem;
  height: 1.5rem;
  width: 5rem;
  justify-content: center;
}

.sumbit {
  display: flex;
  justify-content: center;
}

.maps {
  display: flex;
  width: 33vw;
  justify-content: space-around;
}

.boxbody {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
}

.boxform {
  display: flex;
  width: 48%;
  justify-content: center;
  width: 48.5%;
}

.imgbody {
  margin-left: 5rem;
  display: flex;
  width: 21.5%;
  height: 75vh;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
  align-items: flex-end;
}
.navlogo {
  width: 1rem;
}
nav > img {
  height: 4px;
  width: 4px;
}
main > div > div > img {
  width: 21rem;
  height: 15rem;
  border-radius: 15px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    background-color: rgb(216, 188, 168);
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .navlogo {
    display: flex;
    justify-content: flex-end;
    align-self: center;
  }
  .img2index {
    border-radius: 15px;
    width: 100%;
  }
  .pindexbox {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
  }
  .pindexbox {
    display: flex;
    flex-direction: column;
  }
  .titleindex {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: grey;
    border-radius: 10px;
    padding: 5px;
    width: 50%;
  }
  .imgindex1 {
    border-radius: 10px;
    display: flex;
    width: 50%;
    height: 25%;
  }
  .a1 {
    display: flex;
    background-color: grey;
    border-radius: 5px;
    padding: 4px;
    margin-top: 0.5rem;
  }
  .imgabout1 {
    width: 50%;
    border-radius: 15px;
  }
  .pimgabout1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
  }
  .pImgAbout2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
  }
  .imgabout2 {
    width: 50%;
    height: 25%;
    border-radius: 15px;
  }
  .pImgAbout3 {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
  }
  .imgabout3 {
    width: 50%;
    height: 25%;
    border-radius: 15px;
  }
  .imgabout3box {
    display: flex;
    justify-content: center;
  }
  .imgcontact1 {
    border-radius: 10px;
    width: 50%;
    height: 25%;
  }
  .boximgcontact {
    display: flex;
    justify-content: center;
  }
  .pboxcontact1 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .pcontact1 {
    font-size: 1.5rem;
  }
  .pboxcontact3 {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
  }
  .pcontact2 {
    color: black;
    font-weight: 600;
    text-decoration: underline;
  }
  .pcontact3 {
    font-weight: 600;
    text-decoration: underline;
  }
  .ancorcontact {
    display: flex;
    flex-direction: row;
  }
  .imglist1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
  }
  .imagebenefits {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    border-radius: 10px;
    flex-direction: column;
    width: 100%;
  }
  ol {
    display: flex;
    margin-left: 2rem;
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
  .boxbody {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .imgbody {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;
    margin-top: 1rem;
  }
  .boxform {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  main > div > div > img {
    width: 50%;
    height: 30%;
    border-radius: 15px;
    margin-top: 1rem;
  }
  .maps {
    display: flex;
    width: 100%;
  }
  footer {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    background-color: rgb(216, 188, 168);
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .navlogo {
    display: flex;
    justify-content: flex-end;
    align-self: center;
  }
  .img2index {
    border-radius: 15px;
    width: 100%;
  }
  .pindexbox {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
  }
  .pbox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pindexbox {
    display: flex;
    flex-direction: column;
  }
  .titleindex {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: grey;
    border-radius: 10px;
    padding: 5px;
    width: 50%;
  }
  .imgindex1 {
    border-radius: 10px;
    display: flex;
    width: 50%;
    height: 25%;
  }
  .a1 {
    display: flex;
    background-color: grey;
    border-radius: 5px;
    padding: 4px;
    margin-top: 0.5rem;
  }
  .imgabout1 {
    width: 50%;
    border-radius: 15px;
  }
  .pimgabout1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
  }
  .pImgAbout2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
  }
  .imgabout2 {
    width: 50%;
    height: 25%;
    border-radius: 15px;
  }
  .pImgAbout3 {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
  }
  .imgabout3 {
    width: 50%;
    height: 25%;
    border-radius: 15px;
  }
  .imgabout3box {
    display: flex;
    justify-content: center;
  }
  .imgcontact1 {
    border-radius: 10px;
    width: 50%;
    height: 25%;
  }
  .boximgcontact {
    display: flex;
    justify-content: center;
  }
  .pboxcontact1 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .pcontact1 {
    font-size: 1.5rem;
  }
  .pboxcontact3 {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
  }
  .pcontact2 {
    color: black;
    font-weight: 600;
    text-decoration: underline;
  }
  .pcontact3 {
    font-weight: 600;
    text-decoration: underline;
  }
  .ancorcontact {
    display: flex;
    flex-direction: row-reverse;
  }
  .imglist1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
  }
  ol {
    display: flex;
    margin-left: 2rem;
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
  .boxbody {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .imgbody {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;
    margin-top: 1rem;
  }
  .boxform {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  main > div > div > img {
    width: 50%;
    height: 30%;
    border-radius: 15px;
    margin-top: 1rem;
  }
  .maps {
    display: flex;
    width: 100%;
  }
  footer {
    margin-top: 1rem;
  }
}
